p{
    color:brown;
}

body{
    text-align: center;
}

h1{
    font-size: small;
}

title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
head{
    background-color: aqua;
}